[Unit]
Description=USB Gadget for RNDIS and ADB
Before=network-pre.target
Wants=network-pre.target

[Service]
ExecStart=/scripts/setup_usbgadget.sh

[Install]
WantedBy=network.target
