[Unit]
Description=Kiosk Updater
Wants=network-online.target

[Service]
ExecStart=python3 /kiosk-updater/kiosk_updater.py
RestartSec=5

[Install]
WantedBy=multi-user.target
